<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Welcome to Simple Auth</h1>
      <p *ngIf="!isLoggedIn">Get started by signing up or logging in.</p>
      <p *ngIf="isLoggedIn">Now you can see the users list.</p>
      <div class="button-group" *ngIf="!isLoggedIn">
        <a href="/sign-up" class="button">Sign Up</a>
        <a href="/login" class="button">Login</a>
      </div>
      <div class="button-group" *ngIf="isLoggedIn">
        <button class="button" (click)="listUsers()">List Users</button>
        <button class="button" (click)="logout()">Logout</button>
        <ul>
          <li *ngFor="let user of users">{{ user.name }} - {{ user.email }}</li>
        </ul>
      </div>
    </div>
  </div>
</main>

